@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Poppins-Regular";
  font-size: 13px;
  margin: 0;
  background: url("../images/form-wizard-bg.jpg") center bottom;
  background-size: cover; }

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: "Poppins-Regular";
  font-size: 13px;
  color: #333; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }
  select option[value=""][disabled] {
    display: none; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

.wrapper {
  max-width: 1400px;
  display: flex;
  height: 100vh;
  margin: auto;
  align-items: center; }

.fortabs {
  padding: 5px 10px;
  background: rgb(222, 213, 213);
   }
  

.wizard {
  width: 451px;
  position: relative;
  height: 656px;
  margin-left: 14.7%; }


.form-v4-content  { /*white*/
	background: #fff;
	width: 150px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 175px 0;
	position: relative;
	display: flex;
	display: -webkit-flex;
	font-family: 'Montserrat', sans-serif;
}
.steps .current-info, .steps .number {
  display: none; }

.avartar {
  display: block;
  text-align: center;
  margin-bottom: 29px; }

.steps {
  height: 2px;
  position: absolute;
  width: 39.91%;
  background: #b7b2ab;
  bottom: -52px;
  left: 50%;
  transform: translateX(-50%); }
  .steps ul {
    height: 2px;
    position: absolute;
    background: rgb(251, 251, 251);
    width: 33.33%;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease; }
  .steps:before {
    content: "1";
    color: rgb(200, 200, 200);
    position: absolute;
    left: 0;
    bottom: 3px;
    font-size: 13px;
    font-family: "Poppins-Regular";
    transition: all 0.3s ease; }
  .steps:after {
    content: "4";
    color: rgb(200, 200, 200);
    position: absolute;
    right: 0;
    bottom: 3px;
    font-size: 13px;
    font-family: "Poppins-Regular"; }
  .steps.step-2 ul {
    width: 66.67%;
    transition: all 0.3s ease; }
  .steps.step-2:before {
    content: '2';
    left: 33.67%;
    transition: all 0.3s ease; }
  .steps.step-3 ul {
    width: 100%;
    transition: all 0.3s ease; }
  .steps.step-3:before {
    content: '3';
    left: 63.67%;
    transition: all 0.1s ease; }
  .steps.step-4:before {
      content: '';
      left: 100%;
      transition: all 0.1s ease; }

.regform {
  padding: 20px 58px;
  background: #fff;
  height:540px;
  width: 370px;
 }

.form-row {
  margin-bottom: 26px; }
  .form-row.form-group {
    display: flex; }
    .form-row.form-group .form-holder {
      width: 50%;
      margin-right: 25px; }
      .form-row.form-group .form-holder:last-child {
        margin-right: 0; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 17px;
    color: #333; }
    .form-holder i.small {
      font-size: 13px;
      top: 50%;
      transform: translateY(-50%); }

.form-control {
  height: 30px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  background: none;
  font-weight: 600; }
  .form-control::-webkit-input-placeholder {
    color: #333; }
  .form-control::-moz-placeholder {
    color: #333; }
  .form-control:-ms-input-placeholder {
    color: #333; }
  .form-control:-moz-placeholder {
    color: #333; }

.select {
  position: relative; }
  .select .select-control {
    height: 30px;
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .select .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 9;
    border: 1px solid #4192cb; }
    .select .dropdown {
      padding: 5px 10px; }
      .select .dropdown:hover {
        background: #81acee;
        color: #fff; }
    .select .dropdown.active {
      display: block; }

.wrapper .regform select{
  height: 30px;
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.section-3 h6 {
  font-size: 13px;
  color: #333;
  padding-top: 5px;
  margin-bottom: 14px; }

.payment-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .payment-block .payment-item {
    width: 47.76%; }



.NEXT{
  border: none;
  display: inline-flex;
  height: 51px;
  width: 118px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  padding-left: 33px;
  font-size: 15px;
  position: relative;
  background: rgb(233, 28, 28); }
  .actions .NEXT:before {
    content: "\f2ee";
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px; }
  .actions li a:hover {
    background: #b5b1b1; }
.actions .NEXT:first-child a {
  background: none;
  border: 1px solid #333;
  padding-left: 50px;
  color: #333; }
  .actions li:first-child a:before {
    content: "\f2ea";
    right: 77px; }
  .actions .NEXT:first-child a:hover {
    background: #bebebe;
    border-color: transparent;
    color: #fff; }
.actions li:last-child a {
  padding-left: 28px; }
  .actions li:last-child a:before {
    right: 27px; }
.actions li[aria-disabled="true"] a {
  opacity: 0;
  transition: all 1s; }

  
.form-checkbox {
	margin-top: 1px;
	position: relative;
}
.form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-checkbox .checkmark {
	position: absolute;
    top: 13px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #3786bd;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-checkbox input:checked ~ .checkmark::after {
    display: block;

}
.form-row-last input {
	padding: 12.5px;
}
.form-checkbox-b { /* this is for terms and con checkbox */
	margin-top: px;
	padding: 0 20px 0 60px;
	position: relative;

}	
.form-checkbox-b input {
	position: absolute;
    opacity: 0;
}
.form-checkbox-b .checkmark { /*checkbox attributes */
	position: absolute;
    top: 10px;
    left: 15px;
    height: 17px;
    width: 20px;
    border: 2px solid #362e2e;
    cursor: pointer;
}
.form-checkbox-b .checkmark::after { /*check properties (After)*/
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 4px;
    height: 10px;
    border: 1px solid rgb(10, 9, 9);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-checkbox-b input:checked ~ .checkmark::after {
    display: block;
}
.form-checkbox-b .form-text-con { /*properties for terms-con words*/
	
	top: 2px;
  bottom: 60px;
  color: #070505;
  font-size: 14px;
  font-weight: 400;
	
    /* THIS IS FOR TABS*/
  }
.fortabs .tab {
    
    width: 100%;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -o-justify-content: space-between;
      -ms-justify-content: space-between;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
  }
  .fortabs .tab .tab-inner {
    width: 80%;
  }
  .fortabs .tab .tablinks {
    background: transparent;
    border: none;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    font-family: "Poppins-Regular";
    font-size: 15px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    border-bottom: 4px solid;
    border-bottom-color: rgba(243, 238, 238, 0.2);
    width: 100%;
    
  
  }
  
  .fortabs .tab .tablinks.active { /*when tab is clicked*/
    font-weight: 700;
    color: rgb(239, 94, 94);
    border-bottom-color: #ec5e5e;

  }
  
  .wrapper .regform .buttons {
  position:absolute;
	left: 460px;
	background: #ff3030;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 130px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
  }
.register { /*properties for register button*/
    position:absolute;
    left: 180px;
    margin-top: 5px;
    background: #4c4848;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 130px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-family: "Poppins-Regular";
}
.next{
    position: fixed;
    left: 400px;
    
    background: #4c4848;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 80px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    font-family: "Poppins-Regular";

}
@media (max-width: 1500px) {
  .steps {
    bottom: -40px; }

  .wizard {
    margin-bottom: 25px; } }
@media (max-width: 1199px) {
  .steps {
    bottom: -52px; }

  .wizard {
    margin-bottom: 0; } }
@media (max-width: 767px) {
  body {
    background: none; }

  .wrapper {
    height: auto;
    display: block; }

  .wizard {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-bottom: 100px; }

  
  .actions ul {
    position: static;
    margin: 0 20px; }

  .payment-block {
    display: block; }
    .payment-block .payment-item {
      width: 100%; }

  .steps {
    bottom: -60px;
    left: 20px;
    right: 20px;
    width: auto;
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
  